{% extends "layout.html" %}
{% block content %}

<style>
    
</style>

<form action='/results' method = 'post' autcomplete='off'>
<p class='important-paragraph form-inputs'>
    <label for='t1'>Type an Amazon review here and BERT will classify it as positive or negative: </label>
    <input type='text' name='text_input1' id='t1'/>
</p>
    <p> <input type='submit' value='Submit'/></p>

<textarea rows="4" cols="50" name="comment" form="review_input">
Enter text here...</textarea>
</form>


{% endblock content %}